div.deviantart-gallery {
    margin: 10px;
    border: 1px solid #000000;
    width: 800px;
    height: 400px;
    overflow: auto;
    background-color: #151515;
}

div.deviantart-gallery img {
    float: left;
    margin: 1px;
}